* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background-image: url("/assets/imgs/wallpaper.jpg");
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.content {
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  text-align: center;
}

@media screen and (min-width: 992px) {
  .content {
    max-width: 992px;
    height: auto;
    margin: 1rem auto;
    border-radius: 1rem;
  }
}
